body {
    font-family: "IBM Plex Sans", sans-serif;
}

/*

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
}

p, a {
    font-size: 1em;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

@media (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

.grid-item {
    height: 200px;
    background-color: #f2f4f8;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #a8a8a8;
}

.grid-item:hover {
    background-color: #dde1e6;
    transition: 70ms;
}

footer p {
    display: inline;
}

*/

