* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
}

.nav {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav ul {
    padding: 0px;
    margin: 0px 20%;
    list-style: none;
}

.nav li {
    display: inline;
}

.nav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: inherit;
}

.nav li a:hover {
    background-color: #F2F2F2;
}

.nav li a.active-page {
    background-color: #F2F2F2;
}

h1 {
    font-size: 2.625rem;
    font-weight: 300;
}

.content {
    margin: 0px 20%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    gap: 10px;
}

/* @media only screen and (max-width: 600px) {
    body {
        margin: 0px 20px;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
} */

.box {
    background-color: #f2f4f8;
    border: 1px solid #a8a8a8;
}

.box:hover {
    background-color: #dde1e6;
    transition: 70ms;    
}