* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
}

.nav {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav #active-page {
    background-color: #F2F2F2;
}

.nav .nav-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 20%;
}

.nav ul {
    display: inherit;
    align-items: center;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
}

.nav .nav-page {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: inherit;
}

.nav .nav-page:hover {
    background-color: #F2F2F2;
}

.nav .nav-links {
    display: flex;
    margin-left: 24px;
}

.nav .nav-links:hover {
    filter: opacity(50%);
}

h1 {
    font-size: 2.625rem;
    font-weight: 300;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

.content {
    min-height: 100vh;
    margin: 24px 20% 48px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 180px;
    gap: 16px;
}

.box {
    display: flex;
    overflow: hidden;
    background-color: #f2f4f8;
    border: 1px solid #a8a8a8;
}

/* .box:hover {
    background-color: #dde1e6;
    transition: 70ms;    
} */

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 300ms;
}

.box:hover img {
    transform: scale(1.3);
}

.about-container {
    display: flex;
}

.about-item {
    flex: 1;
}

footer {
    margin: auto 20% 16px;
}

@media only screen and (max-width: 600px) {
    .nav .nav-container {
        margin: 0px 5%;
    }
    h1 {
        font-size: 2rem;
    }
    .content {
        margin: 16px 5%;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .about-item {
        flex: 0 1 auto;
    }
    footer {
        margin: auto 5% 8px;
    }
}